
#demo-header {
  margin-left: 30%;
  background-color: #0052A0;
  display: table;
  font-size: 1.5em;
  border-radius: 5px;
  width: 40vw;
  text-align: center;
}

#explorer {
  padding: 10px;
  width: 20vw;
  height: 10vh;
  background-color: #EAC616;
  display: table;
  border-radius: 10px;
  margin-left: 29.5vw;
}
