:host {
  position: absolute;
}

#contextBox {
  opacity: 1;
  transition: opacity 1s linear;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.listContainer {
  margin: 0px;
  padding: 0;
  list-style-type: none;
}
